@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("startbutton.css");

body {
  background: white;
  color: #332c39;
  overflow-x: hidden;
}

::selection {
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}

.container {
  --max-width: 1110px;
  --padding: 1.5rem;

  width: min(var(--max-width), 100% - var(--padding));
  margin-inline: auto;
}

.drop {
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
  position: absolute;
  top: -16vh;
  width: 110vw;
  height: 20vh;
  z-index: -20;
  transform: rotate(8deg);
  filter: blur(50px);
}

.hero-drop {
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
  position: absolute;
  bottom: -20%;
  width: 50%;
  height: 20%;
  z-index: -20;
  right: -30%;
  filter: blur(50px);
}

.main-drop {
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 30%;
  z-index: -20;
  left: -30%;
  filter: blur(50px);
}

.footer-drop {
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
  position: absolute;
  bottom: -40%;
  width: 50%;
  height: 80%;
  transform: rotate(-8deg);
  z-index: -20;
  right: 0;
  filter: blur(20px);
}

.underline-gradient {
  position: relative;
}

.underline-gradient::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 3.5px;
  border-radius: 2px;
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #355998 0%, #ffbbec 100%);
}

.glass {
  background: rgba(53, 89, 152, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 90%;
  padding: 1rem;
  margin-inline: auto;
}

.btn {
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}
